@use "sass:string";
@use "sass:color";
@use "sass:list";


.sg-button {
    --text-color: white;
    --bg-color: #0d6efd;
    --border-color: #0d6efd;
    --bg-hover-color: color.mix(white, #0d6efd, 15%);
    --border-hover-color: color.mix(white, #0d6efd, 15%);
    --bg-active-color: color.mix(white, #0d6efd, 20%);
    --border-active-color: color.mix(white, #0d6efd, 20%);
    --focus-visible-border-color: white;
    --focus-visible-outline-color: #0d6efd;
    --focus-visible-boxshadow-color: white;

    //border-radius: 0.375rem;
    min-width: fit-content;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0.375em 0.5em;
    font-size: 0.85rem;

    background-color: var(--bg-color);
    border: 2px outset color-mix(in oklab, var(--bg-color), var(--text-color) 20%);// 1px solid /*inset*/ var(--border-color);
    color: var(--text-color);
    &:hover {
        background-color: var(--bg-hover-color);
        border-color: var(--border-hover-color);
    }
    &:active{
        background-color: var(--bg-active-color);
        border-color: var(--border-active-color);
        border-style: inset;
    }
    /*
    &:focus-visible {
        box-shadow: 0 0 0 3px var(--focus-visible-boxshadow-color);
        border: 1px solid var(--focus-visible-border-color);
        outline: 2px solid var(--focus-visible-outline-color);
        z-index: 5;
    }
    */
}

@each $name, $color in $colors {
    $text-color: color-contrast($color);
    $hover-background: if($text-color == $color-contrast-light, color.mix(black, $color, 15%), color.mix(white, $color, 15%));
    $active-background: if($text-color == $color-contrast-light, color.mix(black, $color, 20%), color.mix(white, $color, 20%));
    .sg-button-#{$name} {
        --text-color: #{$text-color};
        --bg-color: #{$color};
        --border-color: #{$color};
        --bg-hover-color: #{$hover-background};
        --border-hover-color: #{$hover-background};
        --bg-active-color: #{$active-background};
        --border-active-color: #{$active-background};
        --focus-visible-border-color: #{$text-color};
        --focus-visible-outline-color: #{$color};
        --focus-visible-boxshadow-color: #{$text-color};
    }
    .sg-button-group > .btn-#{$name} {
        position: relative;
        flex: 1 1 auto;
    }
}

.sg-button-group, .sg-button-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    //width: 100%;
    border-radius: 0.375rem;
    //width: 100%;
    > .sg-button {
        position: relative;
        flex: 1 1 auto;
    }
}
.sg-button-group {
    // Prevent double borders when buttons are next to each other
    > :not(.sg-button-check:first-child) + .sg-button, > .sg-button-group:not(:first-child) {
        margin-left: -1px;
    }

    // Reset rounded corners
    > .sg-button:not(:last-child), > .sg-button-group:not(:last-child) > .sg-button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    // The left radius should be 0 if the button is:
    // - the "third or more" child
    // - the second child and the previous element isn't `.btn-check` (making it the first child visually)
    // - part of a btn-group which isn't the first child
    > .sg-button:nth-child(n + 3), > :not(.sg-button-check) + .sg-button, > .sg-button-group:not(:first-child) > .sg-button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.sg-button-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  
    
    > .sg-button,
    > .sg-button-group {
      width: 100%;
    }
    
    > .sg-button:not(:first-child),
    > .sg-button-group:not(:first-child) {
      margin-top: -1px;
    }
  
    // Reset rounded corners
    > .sg-button:not(:last-child):not(.dropdown-toggle),
    > .sg-button-group:not(:last-child) > .sg-button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
  
    > .sg-button ~ .sg-button,
    > .sg-button-group:not(:first-child) > .sg-button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
  }

