@use "sass:color";
@use "mixins";

$sg-modal-margin: 0.5rem;
$sg-modal-background-color: $sg-body-bg;// #2e3236;
$sg-modal-text-color: white;
$sg-modal-radius: 0.5rem;
$sg-modal-transition: transform .3s ease-out;

.sg-modal-tag::backdrop {
    z-index: calc($zindex-modal);
    background: hsla(0, 0%, 0%);
    opacity: 0.5;
    animation-name: fade-in-backdrop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    &.close {
      background: transparent;
      opacity: 0;
      animation-name: fade-out-backdrop;
      animation-duration: 0.3s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
    }
}
@keyframes fade-in-backdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
@keyframes fade-out-backdrop {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0;
  }
}

.sg-modal-tag { //shell to position modal with bottom-padding
  --height: fit-content;
  z-index: calc($zindex-modal + 1);

  padding: 0;
  top: 10%;
  height: var(--height);
  max-height: 80%;
  margin-right: auto;
  margin-left: auto;

  color: $sg-modal-text-color;
  background-color: $sg-modal-background-color;
  background-clip: padding-box;
  border: 2px outset color-mix(in oklab, $sg-modal-background-color, currentColor 60%);// 1px solid $sg-modal-text-color;
  //border-radius: $sg-modal-radius;
  flex-direction: column;
  overflow: auto;

  &[open=""] {
    display: grid;
    width: 100%;
    grid-template-rows: [header-start] auto [header-end body-start] 1fr [body-end footer-start] auto [footer-end] ;// auto 1fr auto;
    animation-name: fade-in-modal;
    animation-duration: .3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  &.close {
    animation: fade-out-modal 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  > form {
    display: grid;
    grid-template-rows: [body-start] 1fr [body-end footer-start] auto [footer-end];
    @supports (grid-template-rows: subgrid) {
      grid-row-start: body-start;
      grid-row-end: footer-end;
      grid-template-rows: subgrid;
    }
    .sg-modal-body {
      grid-row: body;
    }
    .sg-moda-footer {
      grid-row: footer;
    }
  }
}
@keyframes fade-out-modal {
  to { transform: translateY(10%); opacity: 0;}
}
@keyframes fade-in-modal {
  from {transform: translateY(-10%); opacity: 0.5;}
}


.sg-modal-fill {
  margin: auto;
  top: 0;
  height: 100%;
  width: 100%;
}

.sg-modal-header {
  grid-row: header;// 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
  padding: 0.75rem;
  //border-bottom: 1px solid $sg-modal-text-color;
  //@include border-top-radius($sg-modal-radius);

  margin: 0;

  .sg-button-close {
    padding: 0.5rem 0.5rem;
    margin: calc(-.5 * $sg-modal-margin) calc(-.5 * $sg-modal-margin) calc(-.5 * $sg-modal-margin) auto;
  }
}
.sg-modal-title {
  margin: 0;
}
.sg-modal-body {
  grid-row: body;// 2 / span 1;
  position: relative;
  padding: 1rem;
  background-color: color-mix(in oklab, $sg-modal-background-color, currentColor 5%);

  min-height: fit-content;
  
  overflow: auto;
  p {
    margin: 0;
  }
}
.sg-modal-footer {
  grid-row: footer;// 3 / span 1;
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  background-color: $sg-modal-background-color;
  //border-top: 1px solid $sg-modal-background-color; //$sg-modal-text-color;
  //@include border-bottom-radius($sg-modal-radius);

  gap: 0.5rem;
}


$modal-sm: 300px !default;
$modal-md: 500px !default;
$modal-lg: 700px !default;

$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px ) !default;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px ) !default;
//300, 500, 800
.sg-modal-sm {
  max-width: $modal-sm;
}
.sg-modal-md {
  max-width: $modal-md;
}
.sg-modal-lg {
  max-width: $modal-lg;
}
@media (max-width: 324px) {
  .sg-modal-tag {
    margin: auto;
    top: 0;
    width: 100%;
  }
}
@media (min-width: 325px) and (max-width: 575px) {
  .sg-modal-md, .sg-modal-lg {
    max-width: $modal-sm;
  }
}
@media (min-width: 576px) and (max-width:767px) {
  .sg-modal-lg {
    max-width: $modal-md;
  }
}
@media (min-width: 768px) {
  .sg-modal-lg {
    max-width: $modal-lg;
  }
}



/*
@each $breakpoint, $value in $grid-breakpoints {
  @if $breakpoint == "xs" {
    @media (max-width: 575px) {
      .sg-modal-tag {
        margin: 0.5rem auto;
      }
    }
  }
  @if $breakpoint == "sm" {
    @media (min-width: 576px) {
      .sg-modal-tag {
        max-width: 500px;
        margin-right: auto;
        margin-left: auto;
      }
      .sg-modal-sm {
        max-width: 300px
      }
    }
  }
  @else if $breakpoint == "lg" {
    @media (min-width: 992px) {
      .modal-lg, .modal-xl {
        max-width: 800px;
      }
    }
  }
  @else if $breakpoint == "xl" {
    @media (min-width: 1200px) {
      .modal-xl {
        max-width: 1140px;
      }
    }
  }
}
*/