@use "sass:color";
@use "mixins";

.sg-modal-tag::backdrop {
    z-index: var(--sg-zindex-modal);
    background: hsla(0, 0%, 0%);
    opacity: 0.5;
    animation-name: fade-in-backdrop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.sg-modal-tag.close::backdrop {
    z-index: var(--sg-zindex-modal);
    background: transparent;
    opacity: 0;
    animation-name: fade-out-backdrop;
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}
@keyframes fade-in-backdrop {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}
@keyframes fade-out-backdrop {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

.sg-modal-tag { //shell to position modal with bottom-padding
    --height: fit-content;
    --background-color: var(--sg-body-bg);
    z-index: calc(var(--sg-zindex-modal) + 1);

    padding: 0;
    top: 10%;
    height: var(--height);
    max-height: 80%;
    margin-right: auto;
    margin-left: auto;

    background-color: var(--background-color);
    background-clip: padding-box;
    border: 2px outset color-mix(in oklab, var(--background-color), currentColor 60%);// 1px solid $sg-modal-text-color;
    flex-direction: column;
    overflow: auto;

    &[open=""] {
        display: grid;
        width: 100%;
        grid-template-rows: [header-start] auto [header-end body-start] 1fr [body-end footer-start] auto [footer-end] ;// auto 1fr auto;
        animation-name: fade-in-modal;
        animation-duration: .3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &.close {
        animation: fade-out-modal 0.3s ease-in-out;
        animation-fill-mode: forwards;
    }

    > form {
        display: grid;
        grid-template-rows: [body-start] 1fr [body-end footer-start] auto [footer-end];
        @supports (grid-template-rows: subgrid) {
            grid-row-start: body-start;
            grid-row-end: footer-end;
            grid-template-rows: subgrid;
        }
        .sg-modal-body {
            grid-row: body;
        }
        .sg-moda-footer {
            grid-row: footer;
        }
    }
}
@keyframes fade-out-modal {
    to { 
        transform: translateY(10%); 
        opacity: 0;
    }
}
@keyframes fade-in-modal {
    from {
        transform: translateY(-10%); 
        opacity: 0.5;
    }
}


.sg-modal-fill {
    margin: auto;
    top: 0;
    height: 100%;
    width: 100%;
}

.sg-modal-header {
    grid-row: header;// 1 / span 1;
    display: flex;
    align-items: center;
    justify-content: space-between; // Put modal header elements (title and dismiss) on opposite ends
    padding: 0.75rem;

    margin: 0;

    .sg-button-close {
        padding: 0.5rem 0.5rem;
        align-self: flex-start;
    }
}
.sg-modal-title {
    margin: 0;
}
.sg-modal-body {
    grid-row: body;// 2 / span 1;
    position: relative;
    padding: 1rem;
    background-color: color-mix(in oklab, var(--background-color), currentColor 5%);

    min-height: fit-content;
    
    overflow: auto;
    p {
        margin: 0;
    }
}
.sg-modal-footer {
    grid-row: footer;// 3 / span 1;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: 0.75rem;
    background-color: var(--background-color);

    gap: 0.5rem;
}

//300, 500, 800
.sg-modal-sm {
    max-width: 17rem;
}
.sg-modal-md {
    max-width: 28rem;
}
.sg-modal-lg {
    max-width: 39rem;
}
@media (max-width: 18rem) {
    .sg-modal-tag {
        margin: auto;
        top: 0;
        width: 100%;
    }
}
@media (min-width: 18.001em) and (max-width: 32rem) {
    .sg-modal-md, .sg-modal-lg {
        max-width: 17rem;
    }
}
@media (min-width: 32.001rem) and (max-width:43rem) {
    .sg-modal-lg {
        max-width: 28rem;
    }
}
@media (min-width: 43.001rem) {
    .sg-modal-lg {
        max-width: 39rem;
    }
}
