.sg-nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
.sg-nav-link {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    //transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  
    // Disabled state lightens text
    &.disabled {
      pointer-events: none;
      cursor: default;
    }
}

.sg-nav-item {
  margin-block: auto;
}
