.sg-nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
  
.sg-nav-link {
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: auto;
  color: var(--sg-navbar-link-color);
  font-size: 0.85rem;

  &:hover {
    color: var(--sg-navbar-hover-color);
  }
  // Disabled state lightens text
  &.disabled {
    pointer-events: none;
    cursor: default;
  }
}
[data-navdropdown="true"] .sg-nav-link {
  color: var(--sg-navbar-hover-color);
  font-size: 0.85rem;
  text-decoration: none;
}

.sg-nav-item {
  margin-block: auto;
}