.sg-nav-dropdown-toggle {
    background-color: transparent;//#4c5055;
    display: block;
    padding: 0.5em 1em;
    color: var(--sg-navbar-link-color);
    text-decoration: none;
    border-radius: 0;
    border: 1px solid transparent;
    cursor: pointer;
    //transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  
    &:hover,
    &:focus {
        background-color: transparent;//color.mix(black, #4c5055, 15%);
        border: 1px solid transparent;
        color: var(--sg-navbar-hover-color);
    }
    &:active {
        background-color: transparent;//color.mix(black, #4c5055, 20%);
    }
    &:focus-visible, &:focus {
        border: 1px solid transparent;
    }
    &[aria-expanded="true"] {
        color:var(--sg-navbar-hover-color);
    }
  
    // Disabled state lightens text
    &.disabled {
        color: rgba(0, 0, 0, 0.24);
        pointer-events: none;
        cursor: default;
    }
}
