.sg-overlay-wrapper {
    max-width: 100%; 
    max-height: 100%;
    z-index: $zindex-popover;
}

.sg-overlay-arrow {
    --width: 15px;
    --height: 20px;
    //points="1,6 1,16, 13,15.5, 13,20, 29,10, 13,1 13,6" 
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20"> <polygon points="1,1 1,19, 14,10" fill="#{$sg-arrow-fill}" stroke-width="1.5" stroke="#{$sg-arrow-border}" /> </svg>');
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
    height: var(--height);
    width: var(--width);
    z-index: $zindex-popover;
    &.overlay-position-right {
        transform: rotate(180deg);
    }
    &.overlay-position-left {
        transform: rotate(0deg);
    }
    &.overlay-position-top {
        transform: rotate(90deg);
    }
    &.overlay-position-bottom {
        transform: rotate(270deg);
    }
}
.sg-tooltip-arrow {
    --width: 10px;
    --heigth: 15px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 15 15"> <polygon points="1,1 1,14, 9,7" fill="#{$sg-arrow-fill}" stroke-width="1.5" stroke="#{$sg-arrow-border}" /> </svg>');
}

.sg-tooltip-wrapper {
    --input-text-color: #{$input-text-color};
    --input-background-color: #{$input-background-color};
    --input-border-color: #{$input-border-color};
    font-size: 0.8rem;
    > * {
        font-size: 0.8rem;
    }
    display: flex;
    flex-wrap: wrap;
    max-width: 12rem;
    padding: $input-padding-x $input-padding-y;
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border: $input-border-width $input-border-style var(--input-border-color);
    //appearance: none;
    border-radius: $input-border-radius;
}

//<svg width="40" height="24" xmlns="http://www.w3.org/2000/svg"> <defs> <marker id="arrowhead" markerWidth="2" markerHeight="4" refX="0" refY="2" orient="auto"><polygon points="0 1, 1.8 2, 0 3" /></marker></defs> <line x1="0" y1="12" x2="25" y2="12" style="fill:rgb(0,0,255);stroke-width:8;stroke:rgb(0,0,0)" marker-end="url(#arrowhead)"/> </svg>