.sg-resizable-container {
    &:focus-visible {
        z-index: 2;
    }
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-rows: var(--rows-template);
    grid-template-columns: var(--columns-template, 1fr);
    grid-auto-flow: column;
    &[data-vertical="false"] {
        --columns-template: 1fr auto 1fr;
        --rows-template: 1fr;
        grid-auto-flow: row;
        width: unset;
        height: 100%;
        .sg-resizable-separator {
            --indicator-rotation: 90deg;
            --cursor-type: col-resize;
        }
    }
}

.sg-resizable-separator {
    --indicator-rotation: 0deg;
    --cursor-type: row-resize;
    cursor: var(--cursor-type);
    position: relative;
    width: 100%;
    align-self: normal;
    overflow: visible;
    display: grid;
    border: 1px solid white;
    &::after {
        content: "";
        position: absolute;
        inset-block: -0.5rem;
        height: 1rem;
        inset-inline: 0;
    }
    
    .indicator {
        position: absolute;
        justify-self: center;
        align-self: center;
        z-index: 3;
        padding: 0;
        height: 1rem;
        display: grid;
        justify-content: center;
        align-content: center;
        rotate: var(--indicator-rotation);
    }
    &:focus-visible {
        outline: none;
        box-shadow: none;
        .indicator {
            box-shadow: 0 0 0 3px white;
            outline: 2px solid #0060df;
        }
    }
}