.sg-tabs {
    width: 100%;
}

.sg-tabs-controls {
    display: flex;
    flex-direction: row;
    background-color: $sg-tab-controls-bg;
    min-height: 2rem;
    border-bottom: 1px solid white;
}

.sg-tabs-button {
    display: block;
    color: $sg-tab-button-color;
    background-color: $sg-tab-controls-bg;
    padding: 0.375rem 0.75rem;
    border: 2px solid $sg-tab-controls-bg;
    font-size: 0.85rem;
    
    &:hover {
        background-color: $sg-tab-button-hover;
    }
    &:active {
        background-color: $sg-tab-button-active;
    }

    &.sg-active {
        border: 2px solid $sg-tab-button-color;
        border-bottom: 2px solid var(--sg-body-bg);
        //color: white;
    }
}

.sg-tabs-content {
    width: 100%;
}

.sg-tabs-page {
    display: none;
    &.sg-active {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-block: 1rem;
    }
}