@use "sass:color";

:root {
    --sg-nav-color: #1a1b1d;
	--sg-body-bg: #212529;
  	--sg-body-color: white;
    --sg-line-height: 1.4em;

    /* colors */
    --sg-primary: #fc5f5f;
    --sg-primary-text: black;
    --sg-primary-contrast: white;
    --sg-secondary: #6c757d;
    --sg-secondary-text: white;
    --sg-secondary-contrast: black;
    --sg-success: #1fad61; //hsl(148, 50%, 46%) //#2ae293
    --sg-success-text: black;
    --sg-success-contrast: white;
    --sg-info: #9184bd;
    --sg-info-text: black;
    --sg-info-contrast: white;
    --sg-warning: #e0bc29;
    --sg-warning-text: black;
    --sg-warning-contrast: white;
    --sg-danger: #4995d5;
    --sg-danger-text: black;
    --sg-danger-contrast: white;
    --sg-light: #f8f9fa;
    --sg-light-text: black;
    --sg-light-contrast: black;
    --sg-dark: #212529;
    --sg-dark-text: white;
    --sg-dark-contrast: black;

    /* z-indexes */
    --sg-zindex-sticky: 1010;
    --sg-zindex-navbar: 1010;
    --sg-zindex-fixed: 1010;
    --sg-zindex-dropdown: 1020;
    --sg-zindex-popover: 1020;
    --sg-zindex-offcanvas-backdrop: 1030;
    --sg-zindex-offcanvas: 1040;
    --sg-zindex-modal-backdrop: 1050;
    --sg-zindex-modal: 1060;
    --sg-zindex-tooltip: 1080;
    --sg-zindex-toast: 1090;

    /* dropdown */
    --sg-dropdown-list-bg: var(--sg-nav-color);

    /* form */
    --sg-input-text-color: var(--sg-body-color);// #212529;
    --sg-input-background-color: var(--sg-nav-color);
    --sg-input-background-color-dark: rgb(175, 174, 174);// white;
    --sg-input-border-color: color-mix(in oklab, var(--sg-input-background-color), white 25%);
    --sg-input-border-width: 2px;
    --sg-input-border-radius: 0;
    --sg-input-padding-x: 0.375em;
    --sg-input-padding-y: 0.5em;

    /* nav */
    --sg-link-color: var(--sg-primary);// #4D9DE0;// #0d6efd;
    --sg-link-hover-color: white;//color.mix(black, #E15554, 15%);// #62a4da;// #0a58ca;
    --sg-link-disable-color: rgb(180, 180, 180);

    /* offcanvas */
    -sg-offCanvas-background-color: #2e3236;

    /* tabs */
    --sg-tab-controls-bg: var(--sg-body-bg);
    --sg-tab-button-color: var(--sg-primary);

    /* form */

    --sg-input-line-height: var(--sg-line-height);

    --sg-input-padding-x: 0.375em;
    --sg-input-padding-y: 0.5em;
    --sg-input-border-width: 2px;
    --sg-input-border-style: outset;
    --sg-input-border-radius: 0;

    --sg-input-background-color: var(--sg-nav-color);
    --sg-input-disabled-color: #e9ecef;
    --sg-input-placeholder-color: rgba(255, 255, 255, 0.336);// #6c757d;

    --sg-input-border-color: color-mix(in oklab, var(--sg-input-background-color), currentColor 25%);// #ced4da;
    --sg-input-border-color-focus: var(--sg-primary);
    --sg-input-border-color-invalid: var(--sg-warning);

    --sg-input-group-text-background-color: #e9ecef;

    --sg-input-height: calc(var(--sg-input-line-height) + var(--sg-input-padding-x) * 2 + 2*var(--sg-input-border-width));

    --sg-form-switch-width: 2em;

    --sg-slider-filled-color: var(--sg-primary);
    --sg-slider-filled-border-color: color-mix(in oklab, var(--sg-slider-filled-color), black 20%);
    --sg-slider-empty-color: var(--sg-input-background-color);
    --sg-slider-empty-border-color: var(--sg-input-border-color);

    --sg-slider-height: 1.75rem;
    --sg-slider-thumb-width: 1.5rem;
    --sg-slider-thumb-height: 0.5rem;
    --sg-slider-border-width: 1px;
}

$body-line-height: 1.4em !default;
$sg-body-bg: #212529;
$sg-body-bg-dark: #ffffff;
$sg-body-color: white;

$sg-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$sg-highlight-bg: #fff3cd;

$primary: #fc5f5f;
$secondary: #6c757d;
$success: #1fad61; //hsl(148, 50%, 46%) //#2ae293
$info: #9184bd;
$warning: #e0bc29;
$danger: #4995d5;
$light: #f8f9fa;
$dark: #212529;



$sg-nav-color: #1a1b1d;

/* Grid variables */
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px ) !default;
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px ) !default;

/* z indices */
$zindex-sticky:                     1010 !default;
$zindex-navbar:						1010 !default;
$zindex-fixed:                      1010 !default;
$zindex-dropdown:                   1020 !default;
$zindex-popover:                    1020 !default;
$zindex-offcanvas-backdrop:         1030 !default;
$zindex-offcanvas:                  1040 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1060 !default;
$zindex-tooltip:                    1080 !default;
$zindex-toast:                      1090 !default;

/* Button */
//$colors: ("red": #E15554, "green": #3BB273, "yellow": #E1BC29, "blue": #4D9DE0, "purple": #7768AE);
$colors: ("primary": #0d6efd, "secondary": #6c757d, "success": #198754, "info": #0dcaf0, "warning": #ffc107, "danger": #dc3545, "light": #f8f9fa, "dark": #212529);
$colors: ("primary": #4D9DE0, "secondary": #6c757d, "success": #3BB273, "info": #7768AE, "warning": #E1BC29, "danger": #E15554, "light": #f8f9fa, "dark": #212529);
$colors: ("primary": $danger, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $primary, "light": $light, "dark": $dark);


/* Card */
$card-bg-color: color-mix(in hsl, #212529, white 5%) !default;
$card-header-bg-color: color-mix(in hsl, white 3%, #212529) !default;
$card-text-color: white !default;
$card-border-color: white !default;

.popover-header {
	background-color: var(--nav-color);
	color: white;
}
.popover-body {
	background-color: var(--background-color);
	color: var(--text-color);
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
    max-height: 30em;
    overflow: auto;
}

/*
/// Dropdown
$sg-dropdown-list-bg: #343a40;

$sg-dropdown-item-hover-bg: color.mix(black, $sg-dropdown-list-bg, 15%);
$sg-dropdown-item-action-bg: color.mix(black, $sg-dropdown-list-bg, 20%);
$sg-dropdown-item-disabled-bg: color.mix(white, $sg-dropdown-list-bg, 15%);


/// Form 
$input-text-color: white;// #212529;
$input-text-color-dark: black;

$input-line-height: $body-line-height;

$input-padding-x: 0.375em;
$input-padding-y: 0.5em;

$input-border-width: 2px;
$input-border-radius: 0;// 0.375em;

$input-border-color: color-mix(in oklab, $sg-nav-color, white 25%) ;// #ced4da;
$input-border-color-dark: color-mix(in oklab, white, $sg-nav-color 25%) ;
$input-border-color-focus: $danger;
$input-border-color-focus-dark: color-mix(in oklab, $danger, black 25%);
$input-border-color-invalid: $warning;
$input-border-color-invalid-dark: color-mix(in oklab, $warning, black 25%);
$input-border-style: outset;// solid;

$input-background-color: $sg-nav-color;
$input-background-color-dark: $sg-body-bg-dark;// white;
$input-disabled-color: #e9ecef;
$input-placeholder-color: rgba(255, 255, 255, 0.336);// #6c757d;

$input-group-text-background-color: #e9ecef;
$input-group-text-border-color: color.mix(black, $input-group-text-background-color, 5%);// #ced4da;

$input-height: calc($input-line-height + $input-padding-x * 2 + 2*$input-border-width);

$slider-height: 1.75rem;
$slider-thumb-width: 1.5rem;
$slider-thumb-height: 0.5rem;
$slider-border-width: 1px;

$slider-filled-color: $danger;
$slider-filled-hover-color: color-mix(in oklab, $slider-filled-color, black 15%);
$slider-filled-border-color: color-mix(in oklab, $slider-filled-color, black 20%);
$slider-filled-border-hover-color: color-mix(in oklab, $slider-filled-color, black 35%);

$slider-empty-color: $input-background-color;
$slider-empty-bover-color: color-mix(in oklab, $input-background-color, black 15%);
$slider-empty-border-color: color-mix(in oklab, $input-border-color, black 15%);
$slider-empty-border-hover-color: color-mix(in oklab, $input-border-color, black 25%);


/// Nav 
$sg-link-color: $danger;// #4D9DE0;// #0d6efd;
$sg-link-hover-color: white;//color.mix(black, #E15554, 15%);// #62a4da;// #0a58ca;
$sg-link-disable-color: rgb(180, 180, 180);


/// Overlay
$sg-arrow-border: white;
$sg-arrow-fill: rgb(26, 27, 29);
$tooltip-arrow-filter: brightness(66.666666%);

$tooltip-text-color: white;
$tooltip-background-color: rgb(26, 27, 29);


$tooltip-font-size: 0.75rem;
$tooltip-max-width: 12rem;

$tooltip-padding-x: 0.375em;
$tooltip-padding-y: 0.5em;

$tooltip-border-color: color-mix(in oklab, $sg-nav-color, white 25%) ;
$tooltip-border-radius: 0;
$tooltip-border-width: 2px;
$tooltip-border-style: inset;
$tooltip-border-color: $tooltip-text-color;


// Table
$sg-table-padding: 0.5rem;
$sg-table-padding-sm: 0.25rem;

/// Tabs
$sg-tab-controls-bg: #212529;

$sg-tab-button-color: $danger;
$sg-tab-button-hover: color-mix(in srgb, black 15%, $sg-tab-controls-bg);
$sg-tab-button-active: color-mix(in srgb, black 25%, $sg-tab-controls-bg);
*/