@use "sass:color";

:root {
	--sg-body-bg: #212529;
  	--sg-body-color: white;
}

$body-line-height: 1.4em !default;
$sg-body-bg: #212529;
$sg-body-bg-dark: #ffffff;
$sg-body-color: white;

$sg-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
$sg-highlight-bg: #fff3cd;

$primary: #4995d5;
$secondary: #6c757d;
$success: #1fad61; //hsl(148, 50%, 46%) //#2ae293
$info: #9184bd;
$warning: hsl(48, 75%, 52%);
$danger: rgb(252, 95, 95);
$light: #f8f9fa;
$dark: #212529;



$sg-nav-color: rgb(26, 27, 29);

/* Grid variables */
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, xxl: 1400px ) !default;
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1140px, xxl: 1320px ) !default;

/* z indices */
$zindex-sticky:                     1010 !default;
$zindex-navbar:						1010 !default;
$zindex-fixed:                      1010 !default;
$zindex-dropdown:                   1020 !default;
$zindex-popover:                    1020 !default;
$zindex-offcanvas-backdrop:         1030 !default;
$zindex-offcanvas:                  1040 !default;
$zindex-modal-backdrop:             1050 !default;
$zindex-modal:                      1060 !default;
$zindex-tooltip:                    1080 !default;
$zindex-toast:                      1090 !default;

/* Button */
//$colors: ("red": #E15554, "green": #3BB273, "yellow": #E1BC29, "blue": #4D9DE0, "purple": #7768AE);
$colors: ("primary": #0d6efd, "secondary": #6c757d, "success": #198754, "info": #0dcaf0, "warning": #ffc107, "danger": #dc3545, "light": #f8f9fa, "dark": #212529);
$colors: ("primary": #4D9DE0, "secondary": #6c757d, "success": #3BB273, "info": #7768AE, "warning": #E1BC29, "danger": #E15554, "light": #f8f9fa, "dark": #212529);
$colors: ("primary": $danger, "secondary": $secondary, "success": $success, "info": $info, "warning": $warning, "danger": $primary, "light": $light, "dark": $dark);


/* Card */
$card-bg-color: color-mix(in hsl, #212529, white 5%) !default;
$card-header-bg-color: color-mix(in hsl, white 3%, #212529) !default;
$card-text-color: white !default;
$card-border-color: white !default;

.popover-header {
	background-color: var(--nav-color);
	color: white;
}
.popover-body {
	background-color: var(--background-color);
	color: var(--text-color);
	border-bottom-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
    max-height: 30em;
    overflow: auto;
}


/* Dropdown */
$sg-dropdown-list-bg: #343a40;

$sg-dropdown-item-hover-bg: color.mix(black, $sg-dropdown-list-bg, 15%);
$sg-dropdown-item-action-bg: color.mix(black, $sg-dropdown-list-bg, 20%);
$sg-dropdown-item-disabled-bg: color.mix(white, $sg-dropdown-list-bg, 15%);


/* Form */
$input-text-color: white;// #212529;
$input-text-color-dark: black;

$input-line-height: $body-line-height;

$input-padding-x: 0.375em;
$input-padding-y: 0.5em;

$input-border-width: 2px;
$input-border-radius: 0;// 0.375em;

$input-border-color: color-mix(in oklab, $sg-nav-color, white 25%) ;// #ced4da;
$input-border-color-dark: color-mix(in oklab, white, $sg-nav-color 25%) ;
$input-border-color-focus: $danger;
$input-border-color-focus-dark: color-mix(in oklab, $danger, black 25%);
$input-border-color-invalid: $warning;
$input-border-color-invalid-dark: color-mix(in oklab, $warning, black 25%);
$input-border-style: outset;// solid;

$input-background-color: $sg-nav-color;
$input-background-color-dark: $sg-body-bg-dark;// white;
$input-disabled-color: #e9ecef;
$input-placeholder-color: rgba(255, 255, 255, 0.336);// #6c757d;

$input-group-text-background-color: #e9ecef;
$input-group-text-border-color: color.mix(black, $input-group-text-background-color, 5%);// #ced4da;

$input-height: calc($input-line-height + $input-padding-x * 2 + 2*$input-border-width);

$slider-height: 1.75rem;
$slider-thumb-width: 1.5rem;
$slider-thumb-height: 0.5rem;
$slider-border-width: 1px;

$slider-filled-color: $danger;
$slider-filled-hover-color: color-mix(in oklab, $slider-filled-color, black 15%);
$slider-filled-border-color: color-mix(in oklab, $slider-filled-color, black 20%);
$slider-filled-border-hover-color: color-mix(in oklab, $slider-filled-color, black 35%);

$slider-empty-color: $input-background-color;
$slider-empty-bover-color: color-mix(in oklab, $input-background-color, black 15%);
$slider-empty-border-color: color-mix(in oklab, $input-border-color, black 15%);
$slider-empty-border-hover-color: color-mix(in oklab, $input-border-color, black 25%);


/* Nav */
$sg-link-color: $danger;// #4D9DE0;// #0d6efd;
$sg-link-hover-color: white;//color.mix(black, #E15554, 15%);// #62a4da;// #0a58ca;
$sg-link-disable-color: rgb(180, 180, 180);


/* Overlay */
$sg-arrow-border: white;
$sg-arrow-fill: rgb(26, 27, 29);
$tooltip-arrow-filter: brightness(66.666666%);

$tooltip-text-color: white;
$tooltip-background-color: rgb(26, 27, 29);


$tooltip-font-size: 0.75rem;
$tooltip-max-width: 12rem;

$tooltip-padding-x: 0.375em;
$tooltip-padding-y: 0.5em;

$tooltip-border-color: color-mix(in oklab, $sg-nav-color, white 25%) ;
$tooltip-border-radius: 0;
$tooltip-border-width: 2px;
$tooltip-border-style: inset;
$tooltip-border-color: $tooltip-text-color;


/* Table */
$sg-table-padding: 0.5rem;
$sg-table-padding-sm: 0.25rem;

/* Tabs */
$sg-tab-controls-bg: #212529;

$sg-tab-button-color: $danger;
$sg-tab-button-hover: color-mix(in srgb, black 15%, $sg-tab-controls-bg);
$sg-tab-button-active: color-mix(in srgb, black 25%, $sg-tab-controls-bg);
