
.sg-form-select-tag {
    --input-text-color: #{$input-text-color};
    --input-background-color: #{$input-background-color};
    --input-border-color: #{$input-border-color};
    --input-border-color-focus: #{$input-border-color-focus};
    --input-border-color-invalid: #{$input-border-color-invalid};
    --input-disabled-color: #{$input-disabled-color};

    position: relative;
    display: block;
    width: 100%;
    padding-block: $input-padding-x;
    padding-inline: $input-padding-y calc(3 * $input-padding-y);
    color: var(--input-text-color);

    background-color: var(--input-background-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right $input-padding-x center;
    background-size: 1em 0.75em;

    border: $input-border-width $input-border-style var(--input-border-color);
    border-radius: $input-border-radius;

    appearance: none;

    &:focus-visible, &:focus {
        //@include sg-focus-visible()
        border-color: var(--input-border-color-focus);
        outline: 0;
        box-shadow: 0;
    }
    &[multiple], &[size]:not([size="1"]) {
        padding-right: $input-padding-x;
        background-image: none;
    }
    &:disabled, .disabled {
        --input-background-color: rgba(255, 255, 255, 0.04);
        --input-placeholder-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
        --input-text-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
        cursor:not-allowed;
        opacity: 1;
    }
    &.invalid, &:user-invalid, &[aria-invalid="true"] {
        box-shadow: 0 0 4px 2px var(--input-border-color-invalid);
        z-index: 2;
    }
}


.sg-form-select {
    --input-text-color: #{$input-text-color};
    --input-background-color: #{$input-background-color};
    --input-border-color: #{$input-border-color};
    --input-border-color-focus: #{$input-border-color-focus};
    --input-border-color-invalid: #{$input-border-color-invalid};
    --input-border-width: #{$input-border-width};
    --input-disabled-color: #{$input-disabled-color};

    position: relative;
    display: block;
    
    height: calc(1.4rem + $input-padding-x + $input-padding-x);
    min-width: 12rem;
    max-width: 15rem;
    
    padding-block: $input-padding-x;
    padding-inline: $input-padding-y calc(3 * $input-padding-y);
    color: var(--input-text-color);

    background-color: var(--input-background-color);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right $input-padding-x center;
    background-size: 1em 0.75em;
    border: $input-border-width outset var(--input-border-color);
    border-radius: $input-border-radius;

    font-size: 0.85rem;
    line-height: 1.4;

    span {
        pointer-events:visible;
        display: inline-block;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    &:focus-within {
        //@include sg-focus-visible()
        border-color: var(--input-border-color-focus);
        outline: 0;
        box-shadow: 0;
    }
    .disabled {
        --input-background-color: rgba(255, 255, 255, 0.04);
        --input-placeholder-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
        --input-text-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
    }
}

.sg-select-control {
    text-align: start;

    cursor: default;

    &:disabled {
        --input-background-color: rgba(255, 255, 255, 0.04);
        --input-placeholder-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
        --input-text-color: color-mix(in oklab, #{$input-placeholder-color}, white 40%);
        cursor: not-allowed;
        opacity: 1;
    }
    &:user-invalid, &.invalid, &[aria-invalid="true"] {
        //outline: 2px solid $input-border-color-invalid;
        box-shadow: 0 0 4px 2px var(--input-border-color-invalid);
    }
}

.sg-select-input {
    background-color: inherit;
    border: none;
    height: 100%;
    max-width: 80%;
    color: inherit;

    &[multiple], &[size]:not([size="1"]) {
        padding-right: $input-padding-x;
        background-image: none;
    }
    &:disabled {
        color: inherit;
        background-color: inherit;
        opacity: 1;
    }
    &:focus, &:focus-within, &:focus-visible {
        border-color: transparent;
        outline: none;
    }
    &::placeholder {
        color: $input-placeholder-color;
        opacity: 1;
      }
    
}

.sg-select-list {
    --bg-color: #{$input-background-color};
    --txt-color: black;
    --z-index: #{$zindex-dropdown};
    overflow-y: auto;

    background-color: var(--bg-color);
    color: inherit;

    position: absolute;
    top: calc(100% + var(--input-border-width)*1px);
    left: 0;
    width: 100%;
    padding: 0;

    border-radius: 0;// 0.375rem;
    //border: 1px solid color-mix(in srgb, currentColor, white);
    border: 2px outset color-mix(in oklab, $sg-body-bg, white 60%);

    list-style-type: none;

    z-index: var(--z-index);
}

.sg-select-list-item {
    position: relative;
    padding: 0.25rem 0.5rem;
    padding-right: 1.25rem;
    font-size: 0.85rem;    
    user-select: none;

    z-index: inherit;

    &.focus {
        background-color: color-mix(in oklab, var(--input-background-color), white 20%);
        &:active {
            background-color: color-mix(in oklab, var(--input-background-color), white 25%);
        }
    }

    &:first-child {
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }
    &:last-child {
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
    }
    .sg-form-select-check-icon-wrapper {
        height: 100%;
        aspect-ratio: 1 / 1;
        position: absolute;
        right: 0;
        top: 0;
        display: grid;
        place-items: center;
    }
    .sg-form-select-check-icon {
        
        margin-block: auto;
    }
}