@use "sass:color";

.sg-form-control {
  --input-text-color: #{$input-text-color};
  --input-background-color: #{$input-background-color};
  --input-border-color: #{$input-border-color};
  --input-border-color-focus: #{$input-border-color-focus};
  --input-border-color-invalid: #{$input-border-color-invalid};
  --input-disabled-color: #{$input-disabled-color};

  position: relative;
  display: block;
  width: 100%;
  min-width: 5rem;
  padding: $input-padding-x $input-padding-y;
  color: var(--input-text-color);
  background-color: var(--input-background-color);
  border: $input-border-width $input-border-style var(--input-border-color);
  //appearance: none;
  border-radius: $input-border-radius;

  caret-color: white;

  transition: border-color .15s ease-in-out;

  &[type="file"] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }

  &:focus-visible {
    //@include sg-focus-visible()
    border-color: var(--input-border-color-focus);
    outline: 0;
    box-shadow: 0;
  }

  &::-webkit-date-and-time-value {
    height: $input-line-height;
  }

  &::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
  }

  &:disabled {
    color: null;
    background-color: var(--input-disabled-color);
    border-color: null;
    opacity: 1;
  }

  // File input buttons theming
  &::file-selector-button {
    padding: $input-padding-x $input-padding-y;
    margin: (-$input-padding-x) (-$input-padding-y);
    margin-inline-end:$input-padding-x;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: $input-border-width;
    border-radius: 0; // stylelint-disable-line property-disallowed-list
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: color-mix(in oklab, var(--input-text-color) , black 5%);
  }

  &:user-invalid, &.invalid {
    //outline: 2px solid $input-border-color-invalid;
    box-shadow: 0 0 4px 2px var(--input-border-color-invalid);
  }
}

.sg-form-control-plaintext {
  display: block;
  width: 100%;
  padding: $input-padding-x 0;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  color: var(--input-text-color);
  background-color: transparent;
  border: solid transparent;
  border-width: $input-border-width 0;
}

textarea {
  &.sg-form-control {
    min-height: $input-height;
    margin: 0;
  }
}
  // stylelint-enable selector-no-qualifying-type

  