@use "sass:color";

.sg-form-control {
  --input-text-color: currentColor;

  --input-background-color: var(--sg-input-background-color);
  --input-border-color: var(--sg-input-border-color);
  --input-border-color-focus: var(--sg-input-border-color-focus);
  --input-border-color-invalid: var(--sg-input-border-color-invalid);
  --input-disabled-color: var(--sg-input-disabled-color);
  --input-placeholder-color: var(--sg-input-placeholder-color);
    line-height: var(--sg-input-line-height);
    position: relative;
    display: block;
    width: 100%;
    min-width: min(5rem, 100%);
    padding: var(--sg-input-padding-x) var(--sg-input-padding-y);
    color: var(--input-text-color);
    background-color: var(--input-background-color);
    border: var(--sg-input-border-width) var(--sg-input-border-style) var(--input-border-color);
    //appearance: none;
    border-radius: 0;

    caret-color: currentColor;

    transition: border-color .15s ease-in-out;

    &[type="file"] {
        overflow: hidden; // prevent pseudo element button overlap

        &:not(:disabled):not([readonly]) {
        cursor: pointer;
        }
    }

    &:focus-visible {
        //@include sg-focus-visible()
        border-color: var(--input-border-color-focus);
        outline: 0;
        box-shadow: 0;
    }

    &::-webkit-date-and-time-value {
        height: var(--sg-input-line-height);
    }

    &::placeholder {
        color: var(--input-placeholder-color);
        opacity: 1;
    }

    &:disabled, .disabled {
        --input-background-color: rgba(255, 255, 255, 0.04);
        --input-placeholder-color: color-mix(in oklab, var(--sg-input-placeholder-color), white 40%);
        --input-text-color: color-mix(in oklab, var(--sg-input-placeholder-color), white 40%);
        cursor: not-allowed;
        opacity: 1;
    }

    // File input buttons theming
    &::file-selector-button {
        padding: var(--sg-input-padding-x) var(--sg-input-padding-y);
        margin: calc(-1*var(--sg-input-padding-x)) calc(-1*var(--sg-input-padding-y));
        margin-inline-end: var(--sg-input-padding-x);
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: var(--sg-input-border-width);
        border-radius: 0;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: color-mix(in oklab, var(--input-text-color) , black 5%);
    }

    &:user-invalid, &.invalid, &[aria-invalid="true"] {
        //outline: 2px solid $input-border-color-invalid;
        box-shadow: 0 0 4px 2px var(--input-border-color-invalid);
        z-index: 2;
    }
}

.sg-form-control-plaintext {
    display: block;
    width: 100%;
    padding: var(--sg-input-padding-x) 0;
    margin-bottom: 0; // match inputs if this class comes on inputs with default margins
    color: var(--input-text-color);
    background-color: transparent;
    border: solid transparent;
    border-width: var(--sg-input-border-width) 0;
}

textarea {
    &.sg-form-control {
        min-height: var(--sg-input-height);
        margin: 0;
    }
}

.sg-form-control-error, .sg-form-control-hint {
    max-width: 100%;
    word-break: break-word;
    margin: 0;
    color: var(--text-color, white);
    display: flex;
    align-items:center;
    font-size: 0.8rem;
    .sg-form-control-error-icon {
        color: currentColor;
        margin-right: 0.5ch;
    }
}
.sg-form-control-error {
    --text-color: var(--sg-input-border-color-invalid);
}
.sg-form-control-hint {
    --text-color: var(--sg-input-text-color);
}

.sg-form-control-description {
    margin-top: var(--error-message-margin, 0.25rem);
    &.tooltip {
        --error-message-margin: 0;
        .sg-form-control-error-icon {
            align-self: last baseline;
        }
    }

    &:empty {
        display: none;
    }
}
