@mixin slider-cap {
    --cap-height: calc( 1 - 2*var(--padding-block-fraction));
    box-sizing: border-box;
    content: "";
    position: absolute;
    top: calc(100% * var(--padding-block-fraction));
    height: calc( 100% * var(--cap-height));
    width: calc(var(--slider-thumb-width) * 0.5);
    // give background-color and the position of the pseudo element as a content block
    @content 
}

.sg-form-slider {
    --slider-height: #{$slider-height};

    --slider-filled-color: #{$slider-filled-color};
    --slider-filled-border-color: #{$slider-filled-border-color};

    --slider-empty-color: #{$slider-empty-color};
    --slider-empty-border-color: #{$slider-empty-border-color};

    --padding-block-fraction: 1/3;

    --slider-thumb-width: #{$slider-thumb-width};
    --slider-thumb-height: #{$slider-thumb-height};
    --slider-thumb-border-color: #{$input-border-color};
    --filled: 40%;

    &:focus-within {
        //outline: 2px outset $danger;
    }

    display: grid;
    grid-template-columns: var(--filled) auto calc(100% - var(--filled));
    position: relative;
    height: var(--slider-height);
    //border: $input-border-width $input-border-style $input-border-color;
    padding-block: calc(var(--slider-height)*var(--padding-block-fraction));
    padding-inline: calc(var(--slider-thumb-width) * 0.5);

    &:hover {
        --slider-filled-color: #{$slider-filled-hover-color};
        --slider-filled-border-color: #{$slider-filled-border-hover-color};
        --slider-empty-color: #{$slider-empty-bover-color};
        --slider-empty-border-color: #{$slider-empty-border-hover-color};
    }

    .sg-form-slider-filled {
        display: block;
        background-color: var(--slider-filled-color);
        border: $slider-border-width outset var(--slider-filled-border-color);
        border-left: none;
        border-right: none;
        height: 100%;
        width: 100%;
        &::before {
            @include slider-cap {
                background-color: var(--slider-filled-color);
                border: $slider-border-width outset var(--slider-filled-border-color);
                border-right: none;
                left: 0;
            }
        }
    }
    .sg-form-slider-thumb {
        cursor: grab;
        &[data-grabbing="true"] {
            cursor: grabbing;
        }
        position: relative;
        display: block;
        
        height: 100%;
        //width: var(--slider-thumb-width);
        
        &:focus-visible {
            --slider-thumb-border-color: white;
        }
        &::before {
            content: "";
            position: absolute;
            box-sizing: border-box;
            left: calc(var(--slider-thumb-width) * -0.5);
            top:  calc(-1 * var(--padding-block-fraction)*100% );
            height: calc( (2*var(--padding-block-fraction) + 1) * 100%);
            width: var(--slider-thumb-width);
            background-color: $input-border-color;// transparent;// $danger;
            //background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 166 166"><polygon fill="'+$farbe+'" points="83 26.8 65.7 61.8 27.1 67.4 55 94.7 48.5 133.2 83 115 117.5 133.2 111 94.7 138.9 67.4 100.3 61.8 83 26.8 83 26.8"/></svg>');
            border: $input-border-width $input-border-style var(--slider-thumb-border-color);
        }
        &:focus-visible {
            --focus-outline: 2px outset $danger;
            outline: 0;
            box-shadow: none;
        }
    }
    .sg-form-slider-empty {
        display: block;
        background-color: var(--slider-empty-color);
        border: $slider-border-width outset var(--slider-empty-border-color);
        border-left: none;
        border-right: none;
        height: 100%;
        width: 100%;

        &::after {
            @include slider-cap {
                background-color: var(--slider-empty-color);
                border: $slider-border-width outset var(--slider-empty-border-color);
                border-left: none;
                right: 0;
            }
        }
    }
}