.sg-form-group {
    --error-message-margin: 0rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.35rem;
    label {
        margin: 0;
    }
    &.sg-form-group-vertical {
        flex-direction: row;
        align-items: center;
        label {
            min-width: max-content;
        }
    }

    .sg-form-check {
        padding-bottom: 0;
    }

    .sg-form-control-error-icon {
        color: currentColor;
        margin-right: 0.5ch;
    }
}
